.backgroundImage {
    background-image: url("https://images.wallpaperscraft.ru/image/single/ugol_treugolnik_zheltyj_125410_1920x1080.jpg");
    background-size: cover;
    background-attachment: fixed;
}